/*=================================================*/
/*====================  POPUP  ====================*/
/*=================================================*/
#popup__voiceip--wrap{
    transition: 0.3s all;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 60vh;
    display: none;
}

#popup__voiceip--wrap.show{
    display: flex;
}

#popup-voiceip {
    width: 375px;
    height: auto;
    min-height: 650px;
    background-color: var(--border-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 4px 16px;

    border: 12px solid #333;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

#popup-voiceip:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#popup-voiceip > i{
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
    position: absolute;
    display: block;
    color: transparent;
}

#popup-voiceip > b{
    left: 10%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
    position: absolute;
    display: block;
    color: transparent;
}

#popup-voiceip > b:after {
    content: "";
    position: absolute;
    background-color: #2d4d76;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    top: 3px;
    left: 3px;
    display: block;
    border-radius: 4px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}


#popup-inforbooking{
    min-width: 700px;
    padding: 16px;
    display: none;
    background: var(--white-color);
    overflow-y: scroll;
    max-height: 650px;
    border-radius: 12px;
}

.caption-voicehv__booking,
.caption-voicecall,
.caption-voicebooking{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 22px;
}

.voiceip-calling .skype {
    background: var(--bs-light);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 65px;
    height: 65px;
    position: relative;
    border-radius: 150px;
    border: solid 15px var(--bs-light);
    animation: play 1.5s ease infinite;
    margin: 0 auto;
}

.voiceip-calling .skype:after {
    background: #12A5F4;
    background-size: 100% 100%;
    content: "TCB";
    color: var(--bs-light);
    font-size: 16px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 150px;
    z-index: 99999 !important;
}
.voiceip-calling .skype-avatar:after {
    content: none !important;
}
.voiceip-calling .skype-avatar:before {
    content: none !important;
}

@keyframes play {
    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.2);
    }
    30% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
}

#popup-voiceip.show {
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#popup__voiceip--wrap.show.draggable{
    transition: unset;
    transform: unset;
    cursor: grabbing;
}

.voiceip-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    position: relative;
    gap: 25px;
    margin-top: 30px;

}
.voiceip-header__title {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.voiceip-header__close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.voiceip-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.voiceip-group {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 12px 0;
    position: relative;
}

.voiceip-group .voiceip-label{
    color: var(--text-primary-2-color);
    font-weight: 500;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0%, -50%);
}

.voiceip-name {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--black-color);
}

.voiceip-zaloid {
    font-size: 14px;
    line-height: 20px;
    display: none;
}

.voiceip-timer {
    font-size: 18px;
    line-height: 20px;
    margin-top: 8px;
    color: var(--black-color);
    display: none;
}

.voiceip-group input {
    padding: 10px 8px 10px 45px;
    border: 1px solid var(--border-color);
    outline: none;
    font-size: 14px;
    font-weight: normal;
    flex: 1;
    border-radius: 20px;
}

.voiceip-group input:read-only{
    background-color: #c3c8cf;
}

.voiceip-notes textarea {
    min-height: 60px;
    max-height: 220px;
    border: 1px solid var(--border-color);
    padding: 5px 8px;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    border-radius: 8px;
}

.voiceip-group input::placeholder, .voiceip-notes textarea::placeholder {color:#c3c8cf}

.voiceip-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.voiceip-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    cursor: pointer;
}

.voiceip-viewbooking{
    display: flex !important;
}

.voiceip-button__desc {
    font-size: 13px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
}

.voiceip-notes textarea:focus {
    outline: none;
    border: none;
}

.voiceip-button svg {
    fill: #333;
}

.voiceip-button.voiceip-accept svg {
    transform: rotate(-45deg);
}

.voiceip-button.voiceip-accept:hover svg {
    fill: #4cda64;
}

.voiceip-button.voiceip-accept:hover .voiceip-button__desc--accept {
    color: #4cda64;
    font-weight: 600;
}

.voiceip-button.voiceip-end:hover svg{
    fill: #ff3b2f;
}

.voiceip-button.voiceip-update svg {
    transform: rotate(45deg);
}

.voiceip-button:hover svg {
    fill: var(--primary-color);
}

.voiceip-button.voiceip-end:hover .voiceip-button__desc{
    color: #ff3b2f;
    font-weight: 600;
}

.voiceip-button:hover .voiceip-button__desc{
    color: var(--primary-color);
    font-weight: 600;
}

.voiceip-button.voiceip-mute .i-unmute, 
.voiceip-button.voiceip-unmute .i-mute {
    display: none
}

.voiceip-button:hover{
    transform: scale(1.1) rotate(5deg);
    transition: 0.2s all linear;
}

.toast--incoming__call .toast__body .toast__title {
    color: #14a866;
}
.toast--missed__call .toast__body .toast__title {
    color: #ff623d;
}
.toast--decline__call .toast__body .toast__title {
    color: #ec2029;
}


/*=========================================================*/
/*=========================  DTMF  ========================*/
/*=========================================================*/
.calc-dtmf__wrap{
    display: none;
}

#calc-dtmf {
    display: grid;
    grid-template-areas:
        "display"
        "button";
}

#calc-dtmf #display_dtmf {
    grid-area: display;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    padding: 0 0 8px 0;
    height: 1.5em;
}

#numPad {
    padding: 0 0 15px 0;
    grid-template-areas:
        "seven eight nine"
        "four five six"
        "one two three"
        "clear_dtmf zero submit_dtmf";
}

.calc-section {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: flex-start;
    grid-template-rows: repeat(auto-fit, 60px);
    grid-template-columns: repeat(auto-fit, 60px);
}

.calc-button {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    transition: all 2s;
    cursor: pointer;
}


/*=========================================================*/
/*====================  TOAST MESSAGE  ====================*/
/*=========================================================*/
#toast-incoming {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast-call {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 16px 0;
    min-width: 260px;
    max-width: 480px;
    border-left: 4px solid;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all linear 0.3s;
    margin-bottom: 15px;
}

.toast-call .toast__icon, .toast-call .toast__action, .toast-call .toast__close {
    display: flex;
    align-items: center;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

}

.toast--incoming__call {
    border-color: #14a866;
}

.toast--missed__call {
    border-color: #ff623d;
}

.toast--decline__call {
    border-color: #ec2029;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 15px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.switchboard {
    color: #ff0000;
    margin-left: 2px;
    font-size: 14px;
    font-style: bold;
}

.toast__msg {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast__main {cursor: pointer;}

.toast__action {margin-left: 20px}
.toast__action .btn-voiceip-calling {
    border: none;
    /* border-radius: 50%; */
    background: #fff;
    padding: 0;
    /* width: 36px;
    height: 36px; */
    cursor: pointer;
}



/*========================================================*/
/*====================  PHONE HEADER  ====================*/
/*========================================================*/
.call-phone__wrap {
    position: relative;
    min-width: 30px;
}

.call-phone__numpad {
    display: none;
}

#call-overlay{
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#call-overlay.opened{
    display: block;
}

.call-phone__circle-img {
    background-color: rgba(82, 125, 168, 0.1);
    width: 31px;
    height: 31px;
    top: 50%;
    left: 0%;
    position: absolute;
    border: 3px solid #9c9fa6;
    border-radius: 100%;
    transform: translate(0%, -50%);
    overflow: hidden;
    cursor: pointer;
}

.call-label{
    margin-left: 37px;
}

.call-phone__wrap .call-phone__circle-img .icon-phone {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 0;
    transform: translate(-50%, -50%);
    background-color: #fff;

}

.call-phone__numpad .numpad {
    text-align: center;
    min-width: 350px;
    margin: 0 auto;
    background: var(--white-color);
    position: absolute;
    right: 0%;
    top: 30px;
    z-index: 20;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 0.375rem;
}

.inputBoxes input {
    border: none;
    outline: none;
    border-radius: 0.375rem;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
}

.call-phone__numpad .dot {
    background-color: rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0);
}

.call-phone__numpad .numbers {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
}

.call-phone__numpad .number {
    background-color: #f7f7f7;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px 8px;
    cursor: pointer;
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-phone__numpad .number:hover,
.call-phone__numpad .number:active {
    background-color: rgb(77 77 77 / 15%);
}

.call-phone__numpad .number:focus {
    outline: none;
}

.call-phone__numpad .pin_font {
    color: #000;
    font-size: 20px;
    padding-right: 0 !important;
    font-weight: 600
}

.pin_text {
    color: #434343;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.call-phone__numpad .numpad .btn-calling {
    padding: 10px;
    display: block;
    color: var(--white-color);
    background: var(--success-color);
    outline: none;
    border: transparent;
    border-radius: 0.375rem;
    width: 100%;
    font-size: 1rem;
}

.call-phone__numpad .numpad .btn-calling.btn-voiceip-calling-zalo{
    background: #2962ff;
}



/* ====== TRANSFER ======== */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
.voiceip-modal-transfer {
    display: block;
    border-radius: 0.375rem;
    margin-bottom: 20px;
}


.transfer-container {
    margin: 0 auto;
    background: #FFF;
    border-radius: 0.375rem;
    text-align: left;
    padding: 10px;
}

.transfer-body {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.transfer-body input#transfer-phone {
    width: 100%;
    padding: 8px 10px;
    overflow: hidden;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 600;
}

.transfer-body input#transfer-phone:focus {
    outline: none;
}

ul#offer-transfer-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    background: #fff;
    top: 40px;
    left: 0;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    max-height: 225px;
    text-align: left;
    border-radius: 0.235rem;
    overflow-y: auto;
    display: none;
}

ul#offer-transfer-list.active {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: block;
}

ul#offer-transfer-list li {
    padding: 12px 10px;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    text-align: left;
    display: flex;
    cursor: pointer;
    color: var(--black-color);
    font-weight: 600;
}

ul#offer-transfer-list li:last-child {
    border-bottom: 1px solid transparent;
    margin-bottom: 0px;
}

ul#offer-transfer-list li.transfer-item .transfer-item__value {
    flex: 1;
}

ul#offer-transfer-list li.transfer-item .transfer-item__value p {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    cursor: pointer;
}

ul#offer-transfer-list :where(li:hover, li:focus, li:active) {
    background: #EDF2F7;
}

#transfer-submit{
    width: fit-content;
    line-height: 25px;
}

.transfer-title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

ul.annotation-list {
    list-style: disc;
    border-left: 2px solid var(--bs-warning);
    padding: 0 30px;
    font-size: 13px;
    line-height: 1.75;
    margin: 15px 0 0;
    text-align: left;
}