.table-create-voucher tbody tr td {
    display: table-cell;
    vertical-align: middle;
    padding: 6px 4px ;
}

.table-create-voucher tr td.label {
    font-weight: 600;
    width: 25%;
}
.table-create-voucher tr td.value {
    width: 75%;
}

.table-create-voucher input[name="voucher_code"] {
    text-transform: uppercase;
}

.table-create-voucher input[type="submit"],
.table-create-voucher #create_voucher_btn {
    cursor: pointer;
}
