## SugarCRM
# Ignore custom .htaccess stuff.
/.htaccess
# Ignore the cache directory completely.
# This will break the current behaviour. Which was often leading to
# the misuse of the repository as backup replacement.
# For development the cache directory can be safely ignored and
# therefore it is ignored.
cache/*
# Ignore some files and directories from the custom directory.
custom/history/
custom/working/
custom/modules/*/Ext/*
custom/application/Ext/*
!custom/application/Ext/Api
custom/Extension/application/Ext/Language/*
custom/configs/*
!custom/configs/.gitkeep
# Custom configuration should also be ignored.
/config.php
/config_override.php
# Logs files can safely be ignored.
*.log
# Ignore the new upload directories.
/upload/*
!/upload/index.html
/upload_backup/

# Ignore in zalo
modules/EC_Zalo/images/
modules/EC_Zalo/json/
modules/EC_Zalo/nohup.out

secure_sessions/*
!secure_sessions/logs

# JSON data
custom/json_files/**/*.json

# Ignore vendor
vendor