.buttonLogin {
	border: 1px solid #444444;
	font-size: 11px;
	color: #ffffff;
	background-color: #666666;
	font-weight: bold;
}

table.tabForm td {
	border: none;
}

p {
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 10px;
}

form {
	margin: 0px;
}

input[type="text"],
input[type="password"],
textarea {
	width: 200px !important;
}

#recaptcha_image {
	height: 47.5px !important;
	width: 250px !important;
}

#recaptcha_image img {
	height: 47.5px;
	width: 250px;
}

.loginBox {
	border: 1px solid #abc3d7;
	padding: 20px;

}

.password {
	padding: 5px 20px 5px 20px;
	border: 1px solid #999;
	border-top: 0px none;
	background-color: #fff;
}

.password .login_more div:first-child {
	text-align: right;
}

.password a {
	text-decoration: none;
}

.password a img {
	margin-right: 5px;
}

#forgot_password_dialog table {
	margin-top: 10px;
}

.dashletPanelMenu .bd .bd-center {
	padding-top: 0px;
}

/* haihugn */
#wait_pwd_generation{
	display: none;
}

#wait_pwd_generation.active {
    width: 50px;
    height: 50px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-login 1s infinite linear;
    margin: 10px auto;
}

#wait_pwd_generation::before, #wait_pwd_generation::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

#wait_pwd_generation::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

#wait_pwd_generation::after {
    margin: 8.9px;
}

@keyframes spinner-login {
    100% {
        transform: rotate(1turn);
    }
}
