/**** Dashboard ***/

.modal-add-dashlet div.modal-content {
  width: 80%;
}

.dashletcontainer.col-33 {
  width: 33.333%;
}

.dashletcontainer {
  min-height: 132px;
}

.drop-location {
  min-height: 132px;
}

#pageContainer .dashletcontainer .hd {
  background-color: $dashlet-title-bg;
  padding: 0;
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.yui-module .hd{
  background: $dashlet-title-bg;
}

.yui-panel .hd {
  background: $dashlet-title-bg;
}

#pageContainer .dashletcontainer .pagination td {
  background-color: $dashlet-toolbar-bg;
}

#pageContainer .dashletcontainer .pagination span {
  display: inline-block;
}

#pageContainer .dashletcontainer .pagination td button {
  background-color: $dashlet-pagination-bg;
  padding: 2px;
  border-radius: 3px;
  width: auto;
  height: auto;
}
#pageContainer .dashletcontainer .pagination td button:disabled {
  background-color: $disabled-btn-bg;
  color: $disabled-btn-color;
}

.h3Row {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
}

.dashletPanel .h3Row h3 {
  font-size: 13px;
  font-weight: bold;
  color: $dashlet-title-color;
  margin: 0 0 0 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dashletPanel .h3Row h3 span {
  font-weight: normal;
}

#dashletbuttons {
  color: $dashlet-btn-color;
  margin: 0 2px 0 2px;
}

#dashletbuttons:hover {
  opacity: 0.8;
}

.dashletToolSet {
  margin: 0 10px 0 0;
}

@media (max-width: 750px) {

  .dashletcontainer {
    float: left;
  }

  .dashletPanel {
    overflow: auto;
  }

  .dashboardTabList {
    display: none;
  }
}


.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel {
  top: initial;
  left: 0;
  right: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  margin: 0 auto;
  border: none;
  max-width: 900px;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .container-close {
  top: 15px;
  right: 30px;
  color: #aaa;
  width: initial;
  text-indent: initial;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .hd {
  font-family: Lato, Lato, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: $main-alternate-bg;
  color: $main-font-color;
  padding: 15px 15px 42px 19px;
  margin: 0;
  border-bottom: solid 1px #ddd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  line-height: 25.7143px;
  height: 25px;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: auto;
  max-height: 650px;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form {
  /* form looking good. */
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table td input[type="checkbox"] {
  margin-top: 10px;
  height: 30px;
}


.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr{
  display: flex; 
  border-bottom: none;
  float: none;
  width: auto;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.view td tr {
  display: block;
  border-bottom: none;
  float: none;
  width: auto;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td[scope=row]{
  display: block;
  list-style: none;
  float: left;
  width: auto;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.view td tr td {
  display: block;
  float: left;
  width: auto;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td[scope=row] {
  width: 30%;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table tr td[scope=row][colspan="4"] {
  float: none;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table tr td[scope=row][colspan="4"] br {
  display: none;
}


.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td table {

}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td table tbody {
  display: table-row-group;
  border-color: inherit;
  float: initial;
  vertical-align: middle;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td table tbody tr {
  display: table-row;
  border-color: inherit;
  float: initial;
  vertical-align: inherit;
}

.yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td table tbody tr td {
  display: table-cell;
  float: initial;
  vertical-align: inherit;
}

@media(min-width: 800px) {

  .yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td[scope=row] {
    width: 20%;
  }
  .yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr td[valign=top] {
    float: left;
    width: 25%;

  }
  .yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit tr:last-child{
    clear: both;
  }

  .yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit {
    position: relative;
  }

  .yui-skin-sam.masked #dlg.SuiteP-configureDashlet.yui-module.yui-overlay.yui-panel .bd form table.edit #edit_tabs {
    position: absolute;
    top: 20px;
    right: 40px;
  }
}

.dashletNonTable {
  padding: 10px 5px 10px 10px;
}

#add_dashlets {
  display: none;
}


#dashletresponsive {
  float: left;
}

.edit-dashboard-tabs .suitepicon {
  font-size: 18px;
  line-height: 18px;
}

.dashboardTbList {
  max-width: 90% ;
}
@media (max-width: 999px) and (max-height: 1024px) {
  #dashletsDialog_c {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    overflow: scroll;
    height: 70%;
  }
}

@media (max-width: 1024px) {
  .dashletcontainer.col-50 {
    width: 100%;
  }

  table td[class*=col-] {
    display: block;
    clear: both;
    float: none;
    width: 100%;
  }

  table th[class*=col-] {
    display: block;
    clear: both;
    float: none;
    width: 100%;
  }

  .dashletcontainer {
    display: block;
    clear: both;
    float: none;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .dashletcontainer.col-50 {
    width: 50%;
  }
}
