/*========== POPUP ==========*/
#confirm_reservation_dialog_vja {
    line-height: 22px;
    border: none;
    border-radius: 10px;
    box-shadow:rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px; 
}
#confirm_reservation_dialog_vja form {min-width: 600px;}
#confirm_reservation_dialog_vja #vietjet_logo {
    width: 75px;
    height: auto;
    margin: 0px 0 0 3px;
    vertical-align: text-top;
}
#confirm_reservation_dialog_vja hr {
    border-color: #000;
    background-color: #000;
    color: #000;
    margin: 1.5em 0;
}
#confirm_reservation_dialog_vja p b {color:#303030}

#confirm_reservation_dialog_vja .notes {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding: 8px;
}

#confirm_reservation_dialog_vja .notes .credit_available, 
#confirm_reservation_dialog_vja .notes .warning {
    text-transform: uppercase;
    margin-top: 8px;
    color: red;
}

#confirm_reservation_dialog_vja .wrap-journey p,
#confirm_reservation_dialog_vja .wrap-contact p  {
    font-size: 15px;
    padding: 5px 15px;
}
#confirm_reservation_dialog_vja .wrap-passenger .passenger p {
    font-size: 15px;
    padding: 2px 0;
}

#confirm_reservation_dialog_vja .wrap-journey .wrap-for-flex {
    display: flex;
    flex-direction: column;
}
#confirm_reservation_dialog_vja .wrap-journey .journey {display: none;}
#confirm_reservation_dialog_vja .wrap-journey .journey .left {
    width: 50%;
}
#confirm_reservation_dialog_vja .wrap-journey .journey .right {
    flex: 1;
}
#confirm_reservation_dialog_vja .wrap-journey #reservation_journey_ret_vja {
    border-top: 1px dashed #000;
    padding-top: 8px;
    margin-top: 8px;
}


#confirm_reservation_dialog_vja .wrap-journey .baseprice {
    font-weight: bold;
    color: red;
}

#confirm_reservation_dialog_vja .wrap-passenger .passenger {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 14px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#confirm_reservation_dialog_vja .wrap-passenger .passenger .first {position: relative;}
#confirm_reservation_dialog_vja .wrap-passenger .passenger .stt {
    position: absolute;
    top: 14%;
    left: 6%;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    min-width: 19px;
    height: 19px;    
    background-color: #fff;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #333;
}
#confirm_reservation_dialog_vja .wrap-passenger .passenger .fullname span {color: blue;}
#confirm_reservation_dialog_vja .wrap-passenger .passenger .cic span,
#confirm_reservation_dialog_vja .wrap-passenger .passenger .passport span {
    letter-spacing: 2px;
}

#confirm_reservation_dialog_vja .title {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 4px 12px 4px;
}
#confirm_reservation_dialog_vja .subtitle {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #303030;
}

#confirm_reservation_dialog_vja .wrap-button {
    padding: 10px 0 5px 0;
}
#confirm_reservation_dialog_vja .wrap-button select {
    display: inline-block;
    width: auto;
}

#confirm_reservation_dialog_vja .wrap-button button#confirm_reservation_vja {
    float: right;
    font-size: 15px;
}
#confirm_reservation_dialog_vja .wrap-button button#cancel_reservation_vja {
    float: right;
    font-size: 15px;
    margin-left: 8px;
}