/*========== POPUP ==========*/
.dialog-confirm-send-zalo {
    line-height: 22px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}
.dialog-confirm-send-zalo form {
    min-width: 600px;
}
.dialog-confirm-send-zalo .subtitle {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #303030;
}
.dialog-confirm-send-zalo p b {
    color: #303030
}
.dialog-confirm-send-zalo .wrap-type p,
.dialog-confirm-send-zalo .title {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.dialog-confirm-send-zalo .title {
    color:#006edc;
    cursor:move;
}
.dialog-confirm-send-zalo .title-zalo-oa-name {
    background: linear-gradient(to right, #E8672C, #F7B832);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.dialog-confirm-send-zalo .wrap-type p {padding: 4px 4px 8px 4px;}
.dialog-confirm-send-zalo .wrap-radio {
    gap: 15px;
    flex-wrap: wrap;
    max-width: 650px;
}
.dialog-confirm-send-zalo .wrap-radio > div {
    width: 200px;
}
.dialog-confirm-send-zalo .wrap-phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}
.dialog-confirm-send-zalo .wrap-button {
    display: inline-flex;
    justify-content: flex-end;
}

.dialog-confirm-send-zalo .wrap-message .zalo-message {
    max-width: 650px;
    font-size: 13px;
    line-height: 1.75;
    padding: 5px 10px;
}

.notify-check {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    background: #ffc107;
    padding: 8px 12px;
    border-radius: 0.375rem;
}

input#zalo_field_lien_he,
input#zalo_field_ten_hk {
    width: 160px !important;
    padding: 0 5px !important;
}

.payment_tag {
    border: 0.1px solid #d1e3fe;
    border-radius: 10px;
    margin-top: 8px;
}
.payment_tag .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 0.1px solid #ecf1fa;
    color: #096bff;
}
.payment_tag .heading .heading_icon{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.payment_tag .wrap {
    padding: 10px;
    background-color: #f1faff;
    border-radius: 0 0 10px 10px;
}
.payment_tag .wrap .r1,
.payment_tag .wrap .r2,
.payment_tag .wrap .r3,
.payment_tag .wrap .r4,
.payment_tag .wrap .r5 {
    display: flex;
    gap: 5px;
    padding: 3px 0;
}
.payment_tag .wrap .text-important {
    color: #096bff;
    font-weight: 500;
}

#zalo_field_journey_old {
    width: auto !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}