h1.title.title-apivj{
  color: red;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.fs17 {
  font-size: 17px;
}

.logo img {
  height: 25px;
}

.wrap-manage-booking {
  min-height: 420px;
}

.wrap-manage-booking .wrap-form {
  text-align: center;
}

.wrap-manage-booking .wrap-form form .search {
  width: 30rem;
  margin: 0 auto;
}

.wrap-manage-booking .wrap-form #btn-search-pnr {
  text-align: center;
}

.wrap-manage-booking .wrap-info {
  display: none;
}

.wrap-manage-booking .wrap-info .info {
  margin-bottom: 1.5rem;
}

.wrap-manage-booking .wrap-info .info .title {
  text-align: left;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #2d67b2;
  padding: 10px 0;
}

.wrap-manage-booking .wrap-info #booking_name_display {
  text-decoration: underline !important;
}

.journey-info-row {
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
  gap: 20px;
}

.journey-info-dep,
.journey-info-ret {
  padding: 10px 10px 0;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.wrap-journey-dep,
.wrap-journey-ret {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

}

.wrap-journey-dep .wrap-subtitle .subtitle,
.wrap-journey-ret .wrap-subtitle .subtitle {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0 !important;
}

.wrap-journey-dep .wrap-logo img,
.wrap-journey-ret .wrap-logo img {
  width: 40%;
}

.wrap-journey-dep .wrap-logo [alt^="VZ"],
.wrap-journey-ret .wrap-logo [alt^="VZ"],
.wrap-journey-dep .wrap-logo [alt^="BBA"],
.wrap-journey-ret .wrap-logo [alt^="BBA"],
.wrap-journey-dep .wrap-logo [alt^="VTA"],
.wrap-journey-ret .wrap-logo [alt^="VTA"] {
  width: 60%;
}

.wrap-journey-dep .wrap-logo [alt^="VNA"],
.wrap-journey-ret .wrap-logo [alt^="VNA"],
.wrap-journey-dep .wrap-logo [alt^="VNP"],
.wrap-journey-ret .wrap-logo [alt^="VNP"] {
  width: 20%;
}

.wrap-subtitle,
.wrap-logo {
  flex: 1;
}

.wrap-logo {
  display: flex;
  justify-content: center;
}

.wrap-manage-booking .wrap-info .journey-info #dep-status,
.wrap-manage-booking .wrap-info .journey-info #ret-status,
#api-status {
  font-size: 20px;
  font-weight: bold;
  color: #696969;
}

.wrap-manage-booking .wrap-info .journey-info #dep-amount,
.wrap-manage-booking .wrap-info .journey-info #ret-amount,
#api-amount {
  font-size: 20px;
  font-weight: bold;
  color: #ec2029;
}

.wrap-manage-booking .wrap-info .journey-info #dep-hold-time,
.wrap-manage-booking .wrap-info .journey-info #ret-hold-time,
#api-hold-time {
  font-style: italic;
  color: #000;
}

.wrap-manage-booking .wrap-info .journey-info #dep-pnr,
.wrap-manage-booking .wrap-info .journey-info #ret-pnr,
#api-pnr {
  font-size: 18px;
  font-weight: bold;
  color: #ec2029;
}

.wrap-manage-booking .wrap-info .wrap-journey-ret,
.wrap-manage-booking .wrap-info .li-hide-dep-reservation,
.wrap-manage-booking .wrap-info .li-hide-ret-reservation,
.wrap-manage-booking .wrap-info .li-hide-dep-payment,
.wrap-manage-booking .wrap-info .li-hide-ret-payment {
  display: none;
}

.wrap-manage-booking .wrap-info .journey-info .wrap-button {
  padding: 8px;
  text-align: center;
}

.wrap-manage-booking .wrap-info #btn-booking-dep,
.wrap-manage-booking .wrap-info #btn-payment-dep,
.wrap-manage-booking .wrap-info #btn-booking-ret,
.wrap-manage-booking .wrap-info #btn-payment-ret {
  display: none;
}

.wrap-manage-booking .wrap-info .btn-payment,
.wrap-manage-booking .wrap-info .btn-booking,
.wrap-info-pnr #btn-payment-pnr {
  font-weight: bold;
  min-width: 140px;
}

.wrap-manage-booking .wrap-info .passenger-info table tr td,
.wrap-manage-booking .wrap-info .option-info table tr td {
  vertical-align: middle;
}

#tabpane-apivj * {
  font-size: 14px;
}
#tabpane-apivj .list-group-flush>.list-group-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.wrap-manage-booking .list-group .list-group-item .label {
  font-weight: bold;
}

.wrap-manage-booking .error {
  display: none;
  text-align: center;
  margin-top: 3rem;
}

.wrap-manage-booking #error-content {
  color: red;
}

/*---------- Modal Notification ----------*/
.modal-dialog {
  margin-top: 10rem !important;
}

.modal-dialog.modal-dialog-centered {
  margin-top: 0 !important;
}

#modal-notification,
#modal-payment-pnr-success {
  z-index: 2000;
}

#modal-notification .modal-content,
#modal-payment-pnr-success .modal-content {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#modal-notification .modal-header,
#modal-payment-pnr-success .modal-header {
  border-bottom: none;
  justify-content: center;
  padding: 0.25rem;
}

#modal-notification .modal-header .modal-title {font-size: 4rem;}
#modal-payment-pnr-success .modal-header .modal-title {
  font-size: 1.2rem;
  padding: 15px 0;
  margin: 0;
}

#modal-notification .modal-header .modal-title i.success,
#modal-payment-pnr-success .modal-header .modal-title i.success {
  color: #28a745;
}

#modal-notification .modal-header .modal-title i.warning {
  color: #ffc107;
}

#modal-notification .modal-header .modal-title i.error {
  color: #dc3545;
}

#modal-notification .modal-body,
#modal-payment-pnr-success .modal-body {
  text-align: center;
  padding: 0.5rem;
}

#modal-notification .modal-body .content,
#modal-payment-pnr-success .modal-body .content {
  font-size: 18px;
  font-weight: bold;
}

#modal-notification .modal-body .content .error-code {
  font-size: 22px;
}

#modal-notification .modal-body .content-success,
#modal-payment-pnr-success .modal-body .content-success {
  color: #28a745;
}

#modal-notification .modal-body .content-warning {
  color: #ffc107;
}

#modal-notification .modal-body .content-error {
  color: #dc3545;
}

#modal-notification .modal-footer,
#modal-payment-pnr-success .modal-footer {
  border-top: none;
  justify-content: center;
}


#modal-payment-pnr-success .modal-title {
  line-height: 1;
}

/*---------- Modal Confirm Booking ----------*/
#modal-confirm-payment-pnr .modal-content {
  border: none;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#modal-confirm-payment-pnr .modal-header {
  border-bottom: none;
}

#modal-confirm-payment-pnr .modal-header .modal-title {
  font-weight: bold;
}

#modal-confirm-payment-pnr .modal-body {
  padding-bottom: 0.75rem;
  font-size: 16px;
}

#modal-confirm-payment-pnr .modal-body #pnr-payment-pnr {
  font-size: 17px;
  font-weight: bold;
  color: #ec2029;
}

#modal-confirm-payment-pnr .modal-footer #confirm-payment-pnr {
  background-color: #e8f0fe;
  color: #1967d2;
  border-color: #e8f0fe;
  font-size: 15px;
}

/*---------- Modal Confirm Edit Passenger ----------*/
#modal-confirm-edit-passenger .modal-content {
  border: none;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#modal-confirm-edit-passenger .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

#modal-confirm-edit-passenger .modal-header .modal-title {
  font-weight: bold;
}

#modal-confirm-edit-passenger .modal-body {
  padding-bottom: 0.75rem;
}

#modal-confirm-edit-passenger .modal-footer #confirm-payment {
  background-color: #e8f0fe;
  color: #1967d2;
  border: none;
}

/*---------- Modal Add Baggage ----------*/
#modal-add-baggage .modal-content {
  border: none;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#modal-add-baggage .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

#modal-add-baggage .modal-footer {
  border-top: none;
}

/* ============ MODAL ADD BAGGAGE ========= */
.modal__title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #3a7bd5;
  margin-bottom: 35px;
  font-weight: 600;
}

.button-modal {
  color: #ffffff;
  background-color: #3a7bd5;
  padding: 12px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s;

  min-width: 35%;
  cursor: pointer;
}

.button-modal:hover,
.button-modal:active,
.button-modal:focus {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.form-list {
  padding-left: 0;
  list-style: none;
}

.form-list__input-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-list__input-inline>* {
  width: calc(50% - 10px - 10px);
}

.form-list__row {
  margin-bottom: 25px;
}

.form-list__row:first-child {
  margin-bottom: 15px;
}

.form-list__row label {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #000;
}

.form-list__row--inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-list__row--button {
  display: flex;
  justify-content: flex-end;
}

.modal-add-baggage,
.modal-update-passenger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  /* z-index: 100; */
  overflow-y: auto;
  padding-top: 180px;
}

#modal-update-passenger .direction {
  text-align: center;
  margin-bottom: 0.5rem;
}

#modal-update-passenger .modal__title {
  margin-bottom: 1.25rem;
}

.modal__container {
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  width: 780px;
  min-height: 400px;
  margin-bottom: 125px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__featured {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  min-width: 270px;
  padding: 20px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal__circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 195%;
  background-color: #3a7bd5;
  border-radius: 50%;
  -ms-transform: translateX(-50%) translateY(-25%);
  transform: translateX(-50%) translateY(-25%);
}

.modal__product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  /* -ms-transform: translateX(calc(-50% - 10px));
  transform: translateX(calc(-50% - 10px)); */
  transform: translate(-50%, -50%);
}

.modal-add-baggage .modal__product {
  max-width: 80%;

}

.modal__content {
  -ms-flex: 3;
  flex: 3;
  padding: 40px 30px;
}

.mr-10 {
  margin-right: 10px;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: #60666d;
  padding: 10px 0;
}

.name__passenger {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #60666d;
  padding: 10px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-close-modal {
  color: #3a7bd5;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*======== DROPDOWN NEW ========= */
.select {
  position: relative;
  min-width: 200px;
}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #223254;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover+svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

/* ========= MODAL EDIT INFORMATION PASSENGER ========= */

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
  border-bottom: 2px solid #ddd;
}

.select-box__value {
  display: flex;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

.birthday__error,
.name__error {
  color: #ec2029;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  display: none;
}

.type__passenger {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #60666d;
  padding: 5px;
}

.form-list__row input {
  width: calc(100% - 10px);
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 2px solid #ddd;
  font-family: "Open Sans", sans-serif;
}

.form-list__row input:valid {
  border-color: #3a7bd5;
}

.form-list__row input:focus {
  outline: none;
  border-color: #3a7bd5;
}

/* SEARCH BOOKING  */
/* =============================================== */
/* =============================================== */

#frmIssueTicket{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  /* width: 50%; */
  width: 200px;
  margin: 0 auto;
}

#frmIssueTicket input[name="pnr"] {
  height: 40px;
  width: 200px;
  text-indent: 3px;
  border: 2px solid var(--border-color);
}

.search input:focus {
  box-shadow: none;
  border: 2px solid var(--primary-color);
}

.search .fa-search {
  position: absolute;
  /* top: 20px; */
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);

}

#frmIssueTicket button#btn-search-pnr {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-15%, -50%);
}

#total-amount {
  color: #ec2029;
  font-weight: 600;
  font-size: 20px;
}

.api-info ul {
  padding: 15px 20px;
  padding-left: 20px !important;
  border-radius: 5px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.api-info .wrap-button {
  text-align: center;
  margin-top: 1.5rem;
}



/*========== SEARCH PNR ==========*/
#status_pnr{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.nav-tabs__api{
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.wrap-info-pnr .tab-content .tab-pane .subtitle {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.wrap-info-pnr #booking_info #pnr {
  font-weight: bold;
  font-size: 16px;
  color: #ec2029;
}

.wrap-info-pnr #booking_info #reservation_key {
  font-style: italic;
}

.wrap-info-pnr #booking_info #charges {
  font-weight: bold;
  color: #ec2029;
}

.wrap-info-pnr #booking_info #payments {
  font-weight: bold;
  color: #28a745;
}

.wrap-info-pnr #journeys .journey {
  --bs-nav-tabs-border-color: #dee2e6;

  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid var(--bs-nav-tabs-border-color);
}

.wrap-info-pnr #journeys .journey.journey-ret{
  margin-top: 15px;
}

.wrap-info-pnr #journeys .journey>.row {
  padding: 6px 0;
}

.wrap-info-pnr #journeys .journey>.row .label {
  font-weight: bold;
}

.wrap-info-pnr #charges-journey-dep,
.wrap-info-pnr #charges-journey-ret {
  margin-left: 3px;
  font-weight: bold;
}

/* MODAL */

#modal-payment-pnr-success .info-payment .row {
  padding: 6px 0;
}

#modal-payment-pnr-success .info-payment .row .label {
  font-weight: bold;
  text-align: left;
}

#modal-payment-pnr-success .info-payment .row .value {
  word-break: break-all;
  text-align: left;
}

#modal-payment-pnr-success .recommend {
  font-style: italic;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
}


/* OVERRIDE CSS BOOTSTRAP */
.wrap-info-pnr .nav-item a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.wrap-info-pnr .nav-item a.active {
  font-weight: bold;
  color: #0d6efd
}

.wrap-info-pnr .nav-item a:not(.active) {
  font-weight: 500;
  color: #000;
}

/*========== END SEARCH PNR ==========*/



/* ========= CHANGE JOURNEY =========== */
/* ---------------------------------------------------------- */
#flightlist{
  overflow-y: auto;
  padding: 10px;
  max-height: 400px;
}

#modal-change-journeyLabel{
  color: var(--white-color);
}

#modal-change-journey.show_flights{
  --bs-modal-width: 900px;
}

.flight-item {
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--white-color);
  padding: 10px 16px;
  margin-bottom: 16px;
}

.flight-item:hover {
  border: 1px solid var(--saphire-color);
}

.journey-flight-infor .bg_VJ, 
.infor-plane .bg_VJ {
  background: transparent url(../assets/images/VJ.png) center no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.flight-infor {
  display: flex;
  align-items: center;
}

.flight-infor-item {
  display: flex;
  width: 30%;
}

.infor-duration {
  display: flex;
  flex-direction: column;
  flex: 15%;
  align-items: center;
}

.flight-infor-item.infor-time {
  justify-content: space-evenly;
}


.flight-infor-item.infor-plane-wrap .infor-plane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infor-brand {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.flight-transit-1 .infor-brand {
  margin-right: 0;
}

.infor-plane__name {
  display: flex;
  overflow: hidden;
  margin-left: 8px;
  flex-direction: column;
}

.time__depart,
.time__destination {
  display: flex;
  font-size: 18px;
  justify-content: center;
}

.flight-details,
.flight-details-inter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
}

.flight-details .details,
.flight-details-inter .details-inter {
  background: var(--bgsection-color);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--main-color);
}


.flight-details .details svg,
.flight-details-inter .details-inter svg {
  margin-right: 5px;
  fill: var(--main-color);
  transition: transform 0.2s ease-in-out;
}

.flight-details button,
.flight-details-inter button {
  border-radius: 8px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
}

.flight-details:hover button,
.flight-details-inter:hover button {
  color: var(--white-color);

}

.section__detail--flight-inter {
  display: none;
}

.infor-brand img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.infor-price {
  flex: 20%;
  font-size: 18px;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.flight-infor-ret__inter {
  margin-top: 10px;
}

.infor-price span {
  font-size: 12px;
  font-style: italic;
  color: var(--text-color);
}









/* CUSTOM CLASS */
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-right{
  border-right: 1px solid var(--border-color);
}