/******  OVERRIDE  ******/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#EditView input[type="button"] {
    margin-left: 0;
    margin-right: 0;
}



#date_ticket_issue_inbound_trigger svg,
#date_ticket_issue_outbound_trigger svg {
    vertical-align: text-bottom;
}

#EditView .row_psg_price {
    padding: 10px;
}

#tbl_line_passengers tbody tr.psg_line td {vertical-align: baseline;}


/******  TABLE PASSENGER  ******/
table#tbl_line_passengers tbody tr td .psg_price-wrap .col_psg_price {
    display: flex;
    flex-flow: column;
}
.psg_price-wrap .col_psg_price input {max-width: unset;}
.psg_price-wrap .col_psg_price.col-psg-bag-text {flex: 1;}
.psg_price-wrap .col_psg_price.col-psg-bag-selling-price {width: 12%;}
.psg_price-wrap .col_psg_price.col-psg-bag-price {width: 12%;}
.psg_price-wrap .col_psg_price.col-psg-bag-tax {width: 10%;}
.psg_price-wrap .col_psg_price.col-psg-bag-supplier {width: 23%;}
.psg_price-wrap .col_psg_price.col-psg-bag-supplier .select2-container {width: 100% !important;}
.psg_price-wrap .col_psg_price.col-psg-bag-ticketnum {width: 14%;}

/* ================= RESPONSIVE TABLE ================ */
@media screen and (max-width: 600px) {
    .addmin-fee-wrap,
    .date_ticket_issue--wrap,
    .airline-wrap {
        flex-wrap: wrap;
    }

    /* ------------- HÀNH KHÁCH -------------- */
    .col_psg_price,
    .psg_price-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        width: 100%;
    }

    /* -------- SELECT2 LIBRARY ---------- */
    #tbl_line_passengers .select2-container,
    #tbl_line_details .select2-container {
        display: inline !important;
        width: 100% !important;
    }

    #tbl_line_passengers select{
        width: 100%;
    }
}